*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  background-color:black;
  color:white;
  font-size: 1.5rem;
}
.container{
  max-width: 1550px;
  margin: auto;
  /* padding: 0 2rem; */
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar{
  width: 1rem;
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
  width: 1rem;
  background-color: rgb(197, 2, 2);
  border-radius: 1rem;
}

@media (width <1000px){
  html{
    font-size: 50%;
  }
}
@media (width <760px){
  html{
    font-size: 44%;
  }
}
@media (width <425px){
  html{
    font-size: 36%;
  }
}